border = 1px solid #dfe1e5

.card {
    border: border
    border-radius: 8px
    width: 575px
    display: flex
    flex-direction: column
    justify-content: space-around
    align-items: center
}

.heading {
    width: 100%
    padding: 20px
    border-bottom: border   
}